
<style>
    caption {color: rgb(190, 176, 223);}
    .simpletable {font-size: 24px;}
</style>

<div class="container p-0 mb-3" style="margin-bottom: 100px;">
    <div class="row">
        {{tukey|safe}}
    </div>
</div>

<script>

    const table = document.getElementsByClassName("simpletable");

    const cells = table[0].getElementsByTagName("td");
    
    for (var i in cells) {
      
        if (cells[i].innerHTML === "False")
            cells[i].className = "text-success";
     
        else if (cells[i].innerHTML === "True")
            cells[i].className = "text-danger";
    }
</script>
