<div class="container" style="margin-bottom: 100px;">

    <h1 class="mb-3">Col 1 Mean: {{col1_mean}}</h1>
    <h1 class="mb-4">Col 1 Standard Deviation: {{col1_std}}</h1>
    <h1 class="mb-3">Col 2 Mean: {{col2_mean}}</h1>
    <h1 class="mb-5">Col 2 Standard Deviation: {{col2_std}}</h1>


    <h1 class="mt-3 mb-3">Z Statistic: {{z_stat}}</h1>
    <h1 class="mb-3">P Value: {{p_value}}</h1>
    <h1 class="mb-3">{{confidence}}% Interval : ({{low}}, {{high}})</h1>

    {% if p_value < alpha %}
    <h1 class="text-danger mt-5">Reject the Null</h1>
    {% else %}
    <h1 class="text-success mt-5">Fail to reject the Null</h1>
    {% endif %}

</div>